.container{
    width: 960px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2em;

}
#content{
    overflow: auto;
}
#post{
    background-color: olive;
    width: 70%;
    height: 500px;
    float: left;
}
#sidebar{
    background-color: green;
    height: 500px;

}
.clear{
    clear: both;
}